main {
  margin-left: 100px;
  margin-top: 100px;
}

#album-name{
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
  margin-left: 50px;

}

#buttons{
  display: flex;
}

#song-list li{
  display: flex;
}

#cursed-album-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-content: flex-end; */

}

h1{
  font-size: 50px;
}


.number {
  width: 20px;
}

.title {
  width: 400px;
}

.plays {
  width: 200px;
}

.duration{
  width: 100px;
}

#artist-image img{
  width: 80px;
  /* height: auto; */
  border-radius: 40%;

}

#album-cover img{
  width: 300px;
}

#album-tiny-info {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}


.buttons img{
  width: 30px;
}

.buttons {
  display: flex;
  margin-left: 150px;
  gap: 50px;
  margin-bottom: 40px;
}

