@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  font-family: 'Roboto';
  font-weight: 300;
}


body {
  display: flex;
  color: rgb(224, 255, 255);
}

section{
  
  width: 500px;
  margin: auto;
  background-color: rgb(21, 1, 48);
  border-radius: 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  

}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: larger;
  background-color: lightcyan;
}


#search{
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 20px;
  font-weight: 500;
}


#searchField{
  border-style: none;
  border: none;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 400;
  font-size:larger;
  background-color: lightcyan;
}


#cityName, #temp{
  margin: auto;
  text-align: center;
  margin-top: 30px;
}



#air{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  height: 50px;
  margin-bottom: 100px;
  margin-top: 30px;
}


#weatherImage{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}

img{
  width: auto;
  height: 100%;
  
}

#temp{
  font-size: 50px;
}

.results{
  display: none;
}

#humidity, #wind{
  display: flex;
  flex-direction: column;
  align-items: center;
}